html {
    font-family: sans-serif;
    animation: background-color-anim 5s infinite;
    background-image: url(bg-image.png);
}

body {
    margin: 0;
}

.container-body {
    display: flex;
    justify-content: center;
}

.item-body {
    width: 1000px;
    padding: 20px;

    background-color: black;
    color: white;
}

.container-short-info {
    display: flex;
    align-items: center;
}

.avatar {
    width: 250px;
    height: 250px;
    margin: 0 10px 0 0;

    border: 5px solid white;
    border-radius: 30px;
}

.short-info {
    font-size: 30px;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;

    background-color: grey;
}

.navigation li {
    display: flex;
    flex: 1 1 0px;
    list-style-type: none;
}

.navigation li a {
    flex-grow: 1;
    display: block;

    text-align: center;
    text-decoration: none;

    font-size: 30px;
    padding: 20px;

    font-weight: bold;
    background-color: grey;
    border: 5px solid white;
    color: white;
}

.navigation li a:hover {
    background-color: white;
    color: black;
    border: 5px solid grey;
    transition: .2s;
}

main {
    display: flex;
    justify-content: space-between;
}

.content-main {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

#education,
#skills,
#contacts {
    flex-grow: 1;
    border-radius: 30px;
    margin: 10px 0;
    padding: 20px;
    font-size: 25px;

    background-color: black;
    border: 5px solid white;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

}

.logo-RSS,
.logo-GitHub,
.logo-tg {
    width: 200px;
    filter: invert(1);
    margin: 20px 0;
}

@keyframes background-color-anim {
    0% {
        background-color: #77a1b5;
    }

    50% {
        background-color: grey;
    }

    100% {
        background-color: #77a1b5;
    }
}